.informations{
  display: flex;
  flex-direction: row;
  width: 900px;
  height: 400px;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.botoes{
  display: flex;
  flex-direction: column;
  margin: auto;
}

.margemB{
  margin: 40px;
}

